<div class="h-full">
    <gridster *ngIf="dashboard.length" [options]="options" class="bg-white">
        <gridster-item [item]="item" *ngFor="let item of dashboard" [class.shadow-md]="!editMode" [class.shadow-lg]="editMode" class="border sh flex flex-col rounded-md">
            <!-- Select between graph widget and three widget based on item.type -->
            <app-graph-widget [config]="item.config" *ngIf="item.type === 'graph'"></app-graph-widget>
            <app-three-widget [config]="item.config" *ngIf="item.type === 'three'"></app-three-widget>
        </gridster-item>
    </gridster>
</div>