<header class="flex justify-start items-center bg-slate-50 border">
    <div class="flex flex-auto content-center mx-auto px-5 py-3.5">
        <button (click)="gotoPage('dashboard')" class="button nobg toolbar-item" [class.in-section]="page === 'dashboard'">
            Dashboard
        </button>
        <button (click)="gotoPage('sockets')" class="button nobg toolbar-item" [class.in-section]="page === 'sockets'">
            Sockets
        </button>
        <button class="button nobg toolbar-item">
            Layouts
        </button>
        <button class="button nobg toolbar-item">
            Add
        </button>
    </div>

    <div *ngIf="!editMode" class="mx-auto px-5">
        <button class="button nobg" (click)="edit()">
            Edit
        </button>
    </div>

    <div *ngIf="editMode" class="mx-auto px-5">
        <button class="button primary mr-3" (click)="save()">
            Save
        </button>
        <button *ngIf="editMode" class="button secondary" (click)="cancel()">
            Cancel
        </button>
    </div>
</header>
